@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --delay: 0.5s;
    --timing: 1s;
    --primary: #72ff00;
    --secondary: #ffbe91;
}

@font-face {
    font-family: 'gruppo';
    src: url('./public/fonts/Gruppo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'zen';
    src: url('./public/fonts/ZenTokyoZoo-Regular.ttf') format('truetype');
}

.app {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(30 68 70 / 50%);
    padding: 20px;
}

.title {
    font-family: 'zen', cursive, sans-serif;
}

svg text {
    text-shadow: 0px 0px 10px var(--primary);
    font-size: 10vw;
    stroke-width: 1px;
    fill: transparent;
    stroke: var(--primary);
    letter-spacing: 4px;
    animation: effect 6s alternate;
}
@keyframes effect {
    0% {
        stroke-dasharray: 0 70%;
    }
    100% {
        stroke-dasharray: 10% 0%;
        stroke-dashoffset: 20%;
        text-shadow: 0px 0px 20px var(--primary), 0px 0px 40px var(--primary),
            0px 0px 60px var(--primary), 0px 0px 80px var(--primary),
            0px 0px 100px var(--primary);
    }
}

.vertical-menu {
    font-family: 'gruppo', cursive, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 25%;
}

.menu-item {
    font-family: 'gruppo', cursive, sans-serif;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: var(--primary);
}

.menu-item:hover {
    font-size: 130%;
    color: var(--secondary);
    border-bottom-color: var(--secondary);
    transform: scale(1.1);
}
