@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --delay: 0.5s;
    --timing: 1s;
    --primary: #72ff00;
}

@font-face {
    font-family: 'gruppo';
    src: url('./public/fonts/Gruppo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'zen';
    src: url('./public/fonts/ZenTokyoZoo-Regular.ttf') format('truetype');
}

.main-title {
    color: #ffffff;
}

.title {
    color: #040018;
    margin: auto;
}
.link:hover {
    color: #00ff0d !important;
}
.h-screen-home {
    background-color: #0d0e3b;
}
.button-get {
    color: #0a1800;
    background-color: #00ff0d;
    font-size: 3em;
}
* {
    font-family: 'Bangers', cursive, sans-serif;
    color: #ffffff;
}

.box-outer {
    overflow: hidden;
    margin: 5rem auto;
    width: 20rem;
    height: 10rem;
}
.main-box {
    width: 20rem;
    height: 10rem;
    position: relative;
    background: #00ff0d;
    border: 0.5rem solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-box:hover {
    opacity: 0.9;
}
.bar {
    position: absolute;
    width: 5rem;
    height: 0.5rem;
    background: #fff;
    transition: all var(--timing) linear;
    -webkit-animation-duration: var(--timing);
    animation-duration: var(--timing);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.bar.delay {
    animation-delay: var(--delay);
    -webkit-animation-delay: var(--delay);
}
.top {
    top: -0.5rem;
    left: -0.5rem;
}
.right {
    top: 1.8rem;
    right: -2.8rem;
    transform: rotate(90deg);
}
.bottom {
    bottom: -0.5rem;
    left: -0.5rem;
}
.left {
    top: 1.8rem;
    left: -2.8rem;
    transform: rotate(90deg);
}
@media screen and (min-width: 992px) {
    .carousel {
        display: none;
    }
}
@media screen and (max-width: 991px) {
    .grid-pict {
        display: none !important;
    }
    .carousel-img {
        width: 100%;
        padding: 20px;
    }
}
@-webkit-keyframes h-move {
    0% {
        left: -0.5rem;
    }
    100% {
        left: 20rem;
    }
}
@keyframes h-move {
    0% {
        left: -0.5rem;
    }
    100% {
        left: 20rem;
    }
}
.top,
.bottom {
    -webkit-animation-name: h-move;
    animation-name: h-move;
}
@-webkit-keyframes v-move {
    0% {
        top: -0.5rem;
    }
    100% {
        top: 12.8rem;
    }
}
@keyframes v-move {
    0% {
        top: -0.5rem;
    }
    100% {
        top: 12.8rem;
    }
}
.right,
.left {
    -webkit-animation-name: v-move;
    animation-name: v-move;
}

.app {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30 68 70 / 50%);
}

.title {
    font-family: 'zen', cursive, sans-serif;
}

svg text {
     text-shadow: 0px 0px 10px var(--primary);
     font-size: 10vw;
    stroke-width: 1px;
    fill: transparent;
    stroke: var(--primary);
    letter-spacing: 4px;
    animation: effect 6s alternate;
}
@keyframes effect {
    0% {
        stroke-dasharray: 0 70%;
    }
    100% {
        stroke-dasharray: 10% 0%;
        stroke-dashoffset: 20%;
        text-shadow: 0px 0px 20px var(--primary), 0px 0px 40px var(--primary), 0px 0px 60px var(--primary),
            0px 0px 80px var(--primary), 0px 0px 100px var(--primary);
    }
}
